body {
    max-height: 100vh;
    font-family:"Poppins", sans-serif;
}

p {
    color:#914391;
}

p:first-letter {
    color:#3387e0;
}

img {
    width:100%;
    max-width:500px;
    display:block;
    margin:auto;
}